@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  /* ----- COLORS ----- */
  /* FOR LAYOUT */
  --color-base-dark: #011d2f;
  --color-base: #022841;
  --color-base-light: #034e7e;

  --color-main: #0474ba;
  --color-main-light: #00a7e1;

  --color-accent-dark: #e0922a;
  --color-accent: #ffa630;

  /* FOR TEXT */
  --color-light: #f5f5f5;
  --color-light-2: #e6e8e9;
  --color-light-3: #d7dadd;
  --color-light-4: #b8bfc4;

  /* ----- FONTS ----- */
  --font-title: var(--font-display);
  --font-body: var(--font-body);
}

* {
  /* @apply font-roboto; */
  line-height: 1;
}

*::-webkit-scrollbar {
  width: 0;
}

@layer {
  * {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }
}

/* ? UTILS */

@layer components {
  .button {
    @apply inline-block px-8 py-4 2xl:px-12 2xl:py-6 border border-main text-light-4 font-semibold text-lg;
    @apply duration-100 transition-all transform hover:scale-95;

    &.--alt {
      @apply bg-main text-light;
    }
  }

  .title {
    @apply text-4xl  text-light tracking-tight;

    &.--main {
      @apply font-black md:text-6xl lg:text-7xl xl:text-8xl;
    }

    &.--secondary {
      @apply font-black md:text-6xl lg:text-7xl;
    }

    &.--tertiary {
      @apply font-bold text-light-3;
    }

    &.--tertiary {
      @apply font-bold text-light-3;
    }
  }

  .bg-hexagon-patter {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65' height='65' patternTransform='scale(5) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%23011d2fff'/><path d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23022841ff'/><path d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z'  stroke-width='1' stroke='none' fill='%23034e7eff'/><path d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%230474baff'/><path d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23022841ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }

  .default-clip {
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  }

  .prose {
    ul,
    ol {
      @apply list-inside list-disc;

      li {
        @apply mb-2;

        line-height: 1.4 !important;

        strong {
          @apply text-light;
        }
      }
    }
  }
}
