@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  /* ----- COLORS ----- */
  /* FOR LAYOUT */
  --color-base-darken: #011d2f;
  --color-base-dark: #042a42;
  --color-base: #04304c;
  --color-base-light: #034e7e;

  --color-main: #0474ba;
  --color-main-light: #00a7e1;

  --color-accent-dark: #fa9128;
  --color-accent: #ffa630;
  --color-accent-light: #ffae44;

  /* FOR TEXT */
  --color-light: #f5f5f5;
  --color-light-2: #e6e8e9;
  --color-light-3: #d7dadd;
  --color-light-4: #b8bfc4;

  /* ----- FONTS ----- */
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
}

* {
  line-height: 1;
}

*::-webkit-scrollbar {
  width: 0;
}

@layer {
  * {
    @apply font-poppins;
  }
}

/* ? UTILS */

@layer utilities {
  @keyframes hex-cycle-accent {
    0%,
    100% {
      fill: var(--color-accent);
    }
    50% {
      fill: var(--color-accent-dark);
    }
  }

  @keyframes hex-cycle-base-dark-light {
    0%,
    100% {
      fill: var(--color-base-dark);
    }

    50% {
      fill: var(--color-main);
    }
  }

  @keyframes hex-cycle-base-light-dark {
    0%,
    100% {
      fill: var(--color-base);
    }

    50% {
      fill: var(--color-main);
    }
  }

  .animate-hex-cycle-accent {
    animation: hex-cycle-accent 4s ease-in-out infinite;
  }

  .animate-hex-cycle-base-dark-light {
    animation: hex-cycle-base-dark-light 7s ease-in-out infinite;
  }

  .animate-hex-cycle-base-light-dark {
    animation: hex-cycle-base-light-dark 10s ease-in-out infinite;
  }
}

@layer components {
  .button {
    @apply inline-block px-4 py-3 md:px-5 md:py-4 lg:px-8 lg:py-5 border border-base-light bg-base-light/20 backdrop-blur-lg hover:bg-base-light/50 shadow-lg origin-top text-light-3 font-semibold text-sm md:text-lg;
    @apply duration-100 transition-all transform hover:scale-95;

    &.--alt {
      @apply border-accent-dark bg-accent text-black;
    }
  }

  .bg-hexagon-patter {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65' height='65' patternTransform='scale(8) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%23011d2fff'/><path d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23022841ff'/><path d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z'  stroke-width='1' stroke='none' fill='%23034e7eff'/><path d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%230474baff'/><path d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23ffa630ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

    @media (max-width: 400px) {
      background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='65' height='65' patternTransform='scale(5) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='%23011d2fff'/><path d='M.5.5v12h12V.5H.5zm13 13v12h12v-12h-12zm-13 13v12h12v-12H.5zm26 13v12h12v-12h-12zm13 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23022841ff'/><path d='M26.5.5v12h12V.5h-12zm0 13v12h12v-12h-12zm13 13v12h12v-12h-12zm-39 13v12h12v-12H.5zm0 13v12h12v-12H.5z'  stroke-width='1' stroke='none' fill='%23034e7eff'/><path d='M13.5.5v12h12V.5h-12zm39 13v12h12v-12h-12zm-39 13v12h12v-12h-12zm39 0v12h12v-12h-12zm-26 26v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%230474baff'/><path d='M52.5.5v12h12V.5h-12zm-13 13v12h12v-12h-12zm0 26v12h12v-12h-12zm13 0v12h12v-12h-12zm-39 13v12h12v-12h-12z'  stroke-width='1' stroke='none' fill='%23ffa630ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    }
  }

  .default-clip {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .prose {
    ul,
    ol {
      @apply list-inside list-disc;

      li {
        @apply mb-1;

        line-height: 1.4 !important;

        strong {
          @apply text-light-3;
        }
      }
    }
  }
}
